<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">
    <h1>Mega chat de prueba</h1>
    <div class="container border">

    </div>
    <input type="text" class="form-control mt-5" (keyup.enter)="mostrar()">
    <button (click)="mostrar()">Enviar</button>
    <button (click)="cerrar()">Cerrar</button>
    <button (click)="conectar()">Conectar</button>
  </div>

  <div class="alert alert-info" *ngFor="let msg of data">
    {{msg}}
  </div>

  <router-outlet></router-outlet>
